---
---

@import "html5";

@font-face { 
	font-family: Foco;
	src: url('/assets/fonts/Foco/Foco.ttf');
	font-weight: normal;
}

@font-face { 
	font-family: Foco;
	src: url('/assets/fonts/Foco/FocoLight.ttf');
	font-weight: 100;
} 

@font-face { 
	font-family: Foco;
	src: url('/assets/fonts/Foco/FocoBlack.ttf');
	font-weight: 500;
} 

@font-face { 
	font-family: Foco;
	src: url('/assets/fonts/Foco/FocoBold.ttf');
	font-weight: bold;
} 

.layer {
	display: absolute;
}

.center {
	width: 83.33%;
	position: relative;
	margin: 0 auto;
}

#bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 70%,#e7e7e7 95%);
	z-index: 1;

	canvas {
		position: absolute;
	}
}

#sml {
	top: -110px;
	left: -80px;
}

#lrg {
	bottom: 0;
	right: 0;
}

#foot {
	position: absolute;
	bottom: 0;
	left: 0;
	background: -webkit-linear-gradient(top, #191919 0%,#313131 15%,#2b2b2b 45%,#242424 100%);
	width: 100%;
	border-top: 1px solid #ffffff;
	z-index: 5;
	color: #fff;

	> div {
		padding: 1.5em 0;
		min-height: 25px;
		background: url('/assets/images/SageLogo.png') 100% 50% no-repeat;
	}

	h3 {
		font-size: 1.4em;
		font-weight: normal;
		display: inline;
	}

	small, date {
		font-size: 1em;
		margin: 0 0 0 1.5em;
		color: #bbb;
	}
}

.control {
	position: absolute;
	top: 0;
	z-index: 4;
	background: url('/assets/images/ControlSprite.png') no-repeat;
	height: 100%;
	width: 55px;
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}

#prev {
	left: 0;
	background-position: 100% 50%;
}

#next {
	right: 0;
	background-position: 0 50%;
}

#content {
	position: relative;
	z-index: 3;
	margin: 10% auto;

	header {
		margin-bottom: 4em;
	}

	h1, h2 {
		font-family: Foco, Arial, sans-serif;
		font-weight: 100;
	}

	h1 {
		color: #772059;
		font-size: 3em;
	}

	h2 {
		color: #b2b2b2;
		font-size: 2em;
	}

	ul {
		list-style: url('/assets/images/Bullet.png');
		font: 2.2em Foco;
	}

	li {
		vertical-align: top;
		margin: 0 0 0.5em 0;
		padding: 0 0 0 0.5em;
	}
}