---
---

@import "html5";

@font-face { 
	font-family: Foco;
	src: url('/assets/fonts/Foco/Foco.ttf');
	font-weight: normal;
}

@font-face { 
	font-family: Foco;
	src: url('/assets/fonts/Foco/FocoLight.ttf');
	font-weight: 100;
} 

@font-face { 
	font-family: Foco;
	src: url('/assets/fonts/Foco/FocoBlack.ttf');
	font-weight: 500;
} 

@font-face { 
	font-family: Foco;
	src: url('/assets/fonts/Foco/FocoBold.ttf');
	font-weight: bold;
} 

.layer {
	display: absolute;
}

.center {
	width: 83.33%;
	position: relative;
	margin: 0 auto;
}

body {
	font-family: Foco, Arial, sans-serif;
	font-size: 20px;
}

#bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 60%,#e7e7e7 90%);
	z-index: 1;

	.full_screen_image & {
		background-position: 50% 50%;

	}

	canvas {
		position: absolute;
		z-index: 2;
	}

	.positive_ux &,
	.smart_and_simple &,
	.hci & {
		background: none;
	}
}

#bg-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	.wow_factor & {
		background-position: -30% 65%;
		background-repeat: repeat-x;
	}

	.developmental_behaviours & {
		background-position: 50% 35%;
		background-repeat: repeat-x;
	}

	.negative_space &,
	.overcrowding & {
		background-position: 50% 65%;
		background-repeat: no-repeat;
	}

	.primary_function & {
		background-position: 50% 65%;
		background-repeat: no-repeat;
	}
	.styling & {
		background-position: 50% 70%;
		background-repeat: no-repeat;
	}
	.navigation & {
		background-position: 50% 75%;
		background-repeat: no-repeat;
	}
	.hci & {
		background-position: 50% 75%;
		background-repeat: no-repeat;
	}
	.smart_and_simple & {
		background-position: 80% 50%;
		background-repeat: no-repeat;
	}
	.positive_ux & {
		background-position: 80% 50%;
		background-repeat: no-repeat;
	}

}

#sml {
	top: -110px;
	left: -80px;
}

#lrg {
	bottom: 0;
	right: 0;
}

#foot {
	position: absolute;
	bottom: 0;
	left: 0;
	background: -webkit-linear-gradient(top, #191919 0%,#313131 15%,#2b2b2b 45%,#242424 100%);
	width: 100%;
	border-top: 1px solid #ffffff;
	z-index: 5;
	color: #fff;

	> div {
		padding: 1em 0;
		min-height: 25px;
		background: url('/assets/images/SageLogo.png') 100% 50% no-repeat;
	}

	h3 {
		font-size: 1em;
		font-weight: normal;
		display: inline;
	}

	small, date {
		font-size: 0.7em;
		margin: 0 0 0 1.5em;
		color: #bbb;
	}
}

.control {
	position: absolute;
	top: 0;
	z-index: 4;
	background: url('/assets/images/ControlSprite.png') no-repeat;
	height: 100%;
	width: 55px;
	opacity: 0.5;

	&:hover, &:focus {
		outline: none;	
		opacity: 1;
	}
}

#prev {
	left: 0;
	background-position: 100% 50%;
}

#next {
	right: 0;
	background-position: 0 50%;
}

#content {
	position: relative;
	z-index: 3;
	margin: 10% auto;
	padding-left: 3em;

	header {
		margin-bottom: 3em;
	}

	h1, h2 {
		font-weight: 100;
	}

	h1 {
		color: #772059;
		font-size: 2em;
	}

	h2 {
		color: #b2b2b2;
		font-size: 1.3em;
	}

	ul {
		list-style: url('/assets/images/Bullet.png');
		font: 1.2em Foco;

		.developmental_behaviours & {
			width: 50%;
		}
	}

	li {
		vertical-align: top;
		margin: 0 0 0.5em 0.5em;
		padding: 0 0 0 0.5em;
	}

	.intro & {
		padding-top: 8em;


		header {
			margin-bottom: 5em;
		}

		h1 {
			font-size: 3em;
		}

		h2 {
			font-size: 2em;
		}
	}

	.full_screen_image & {
		padding-left: 0;
		h1 {
			color: rgba(255,255,255,0.95);
			background: rgba(0,0,0,0.4);
			border-radius: 1em;
			padding: 1em;
			font-weight: normal;
			text-align: center;
		}
	}

	.contents & {
		padding-left: 0;
		header {
			margin-bottom: 2em;
		}
		hgroup,	ol {
			width: 60%;
			margin: 0 auto;
		}

		li {
			list-style: none;
			border-radius: 1em;
			border: 1px solid rgba(0, 0, 0, 0.05);
			background: rgba(0, 0, 0, 0.05);
			padding: 1em;
			margin-bottom: 1em;
		}
	}
}

.intro a[target='_blank'] {
	background: rgba(0,0,0,0.05);
	padding: 0.5em 1em;
	border-radius: 1em;
	display: inline-block;
	margin: 0 1em;
	text-decoration: none;

	&:hover, &:focus {
		outline: none;
		background: rgba(0,0,0,0.1);
	}
}

